# Nations dataset

This problem set is created by Xile Zhang and modified by the instructor. All errors are likely from the modifications.

`nations.csv` comes from [World Bank Indicators portal](https://data.worldbank.org/indicator/), which contains the following fields:

*   `iso2c`/`iso3c`: Two and Three letter codes for each country, assigned by the International Organization for Standardization.
*   `country`
*   `year`
*   `gdp_percap`: Gross Domestic Product per capita in current international dollars, corrected for purchasing power in different territories.
*   `life_expect`: Life expectancy at birth, in years.
*   `population`
*   `birth_rate`: Live births during the year per 1,000 people
*   `neonat_mortal_rate`: Babies dying before reaching 28 days of age, per 1,000 live births in a given year.
*   `region`
*   `income`

For this assignment, we would explore this dataset to gather insight on how the birth rate change in each country in 2016.

Please use the file provided here instead of any files on the website (they may be updated online).

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
nations = pd.read_csv('nations.csv')
nations.head(3)

,iso2c,iso3c,country,year,gdp_percap,life_expect,population,birth_rate,neonat_mortal_rate,region,income
0,AD,AND,Andorra,2007,NaN,NaN,82683.0,10.1,1.5,Europe & Central Asia,High income
1,AD,AND,Andorra,2011,NaN,NaN,83751.0,NaN,1.3,Europe & Central Asia,High income
2,AD,AND,Andorra,2013,NaN,NaN,80788.0,NaN,1.2,Europe & Central Asia,High income

## Task 1 - Convert data type
*   Please convert values in column `year` to string type (or `'O'`) using `.astype()`
*   Create an integer variable named 'n_countries' where this number equals to the number of unique countries in the data frame.

In [5]:
### TEST FUNCTION: test_col_convert
# DO NOT REMOVE THE LINE ABOVE

## Task 2 - Data Subset

*   please filter the data frame to only these 3 columns: `country`, `year`, and `birth_rate`.
*   please keep only records from the year 2015 or 2016
*   Please name this filtered data frame `df_birth`

In [9]:
### TEST FUNCTION: test_sub_years
# DO NOT REMOVE THE LINE ABOVE

## Task 3 - Pivot table
*  Please create a new variable called: `df_birth_pivot`. This should have 3 columns: `country`, `2015`, and `2016`. `country` should contain the country names where the other two columns should contain the values correspond to birth rates in the respective years. Hint: `pandas.DataFrame.pivot_table`

In [11]:
### TEST FUNCTION: test_pivot
# DO NOT REMOVE THE LINE ABOVE

## Task 4 - Data Wrangle
*   Using `pandas.DataFrame.dropna()`, please drop records that have missing value in any of the columns.
* Please create an integer variable called `num_countries_dropped` that contains the number of countries dropped from this operation.
*   Reassign the result to `df_pivot_sans_na`.

In [16]:
### TEST FUNCTION: test_drop
# DO NOT REMOVE THE LINE ABOVE

## Task 5 - Birth Rate Decrease

*   Please add a new columns `birth_rate_change` to dataframe `df_pivot_sans_na`. The calculation formula would be:   
> (birth_rate in 2016 - birth_rate in 2015) / birth_rate in 2015
*   Please create a variable named, `lowest_birth_rate_2016`, that contains the name(s) of the country(ies) with lowest birth rate(s) in 2016. 
*   Please create a variable named, "largest_birth_rate_decrease", that contains the name(s) of the country(ies) with largest birth rate(s) decrease.

In [17]:
### TEST FUNCTION: test_rate_change
# DO NOT REMOVE THE LINE ABOVE

## Task 7 - Relationship between gdp_percap and birth_rate

Plot the relationship between `birth_rate` (y axes) and `gdp_percap` (x axes) in 2016 using `seaborn.scatterplot()`. You'll need to use the original data frame.

*   Please only keep  records from 2016, and assign it to a new variable `nations_sub`, which will be used as the input data of `seaborn.scatterplot()`
*   Please map `region` to the color of the points (hint: using the `hue` argument).

In [20]:
### TEST FUNCTION: test_plot
# DO NOT REMOVE THE LINE ABOVE